div.page-container{
display: flex;
flex-direction: column;
align-self: flex-start;
width: 1000px;
height: 600px;
}
div.content{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#buttons{
  padding-top: 35px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;



}

.description{
display: flex;
padding-top: 25px;
width: 500px;
align-self: center;


}
.heading{
display: flex;
justify-content: center;
flex-direction: column;
width: 500px;
align-self: center;
}
p{
  text-align: justify;
}

h1{
font-size: 60px;



}
.button{
margin-right: 20px;
 margin-left: 20px;
 background-color: #9e0003;
 padding-left: 25px;
 padding-right: 25px;
 padding-top: 10px;
 padding-bottom: 10px;
}
a{
  font-size: 17px;
  color: white;
  text-decoration: none;


}
